/* General Body elements */
body {
    font-size: 16px;
    background-color: #c4c4c4;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

/* Main header */
h1 {
    margin-top: 30px;
    color: #230230;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, serif;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
}

/* Sub headers */
h2 {
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
}

h3,
h4,
h5,
h6 {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
}

/* Paragraphs */
p {
    color: #3C2B15;
    font-family: Tahoma, sans-serif;
    margin: 1em 0;
    padding: 1em;
    box-sizing: border-box;
    max-width: 600px;
}

strong {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* Links */
a {
    color: #0043BF;
    font-family: Arial, sans-serif;
    padding: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

ul {
    margin-right: 60px;
}

.recipeslist {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 20px 20px;
}

.recipesingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 3px solid black;
    border-radius: 25px;
}

.steps  {
    text-align: left;
}

.steps img,
.steps .step-image {
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
    max-width: 100%;
}

.description {
    text-align: left;
}

.recipesingle img {
    width: 100%;
    border-radius: 10px;
}

.recipesingle p {
    margin-top: 8px;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.recipepreview {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recipepreviewbig img {
    width: 750px;
    border-radius: 10px;

}

.recipepreviewbig {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipepreviewsmall img {
    width: 350px;
    border-radius: 10px;

}

.recipepreviewsmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.topnav {
    background-color: #270032;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    gap: 50px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.searchcontainer input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
}

.searchcontainer input[type="text"]:hover {
    border-color: #000000;
}

.searchcontainer button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: #37005e;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.searchcontainer button:hover {
    background-color: #2d0039;
}

.helpbutton img {
    width: 40px;
    height: 40px;
}

.helpbutton {
    margin: 0;
    padding: 0;
}

.filteroption {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-left: none;
    background-color: #37005e;
    color: white;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

#filterbutton {
    padding: 5px 10px;
    border-left: none;
    background-color: #37005e;
    color: white;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

#filteroptionbutton {
    padding: 5px 10px;
    border-left: none;
    background-color: #37005e;
    color: white;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, padding 0.35s ease;
    background: #d9d0d0;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.menu.open {
    max-height: 500px;
    padding: 20px;
    margin-top: 10px;
}

.searchandhelp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 100px;
    background-color: #c4c4c4;
    padding: 20px;
}

.searchcontainer {
    display: flex;
    align-items: center;
    margin: 0;
}

.searchcontainer form {
    display: flex;
    align-items: center;
    width: auto;
}

.hidden {
    display: none;
}

.recipe-page img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 1.5rem auto;
    border-radius: 10px;
}

.helpImage {
    width: 250px;
    height: 250px;
}

.errorImage {
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
        background-color: #c4c4c4;
        color: #000000;
        margin: 0;
        padding: 0;
        font-family: Tahoma, sans-serif;
        text-align: center;
        box-sizing: border-box;
    }

    /* Main header */
    h1 {
        margin-top: 30px;
        color: #230230;
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, serif;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    /* Sub headers */
    h2 {
        font-size: 35px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 15px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    /* Paragraphs */
    p {
        color: #3C2B15;
        font-family: Tahoma, sans-serif;
        margin: 1em 0;
        padding: 1em;
        box-sizing: border-box;
        max-width: 600px;
    }

    strong {
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
    }

    /* Links */
    a {
        color: #0043BF;
        font-family: Arial, sans-serif;
        padding: 5px;
        border: 1px solid transparent;
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
        text-align: center;
        margin-right: 60px;
    }

    .searchandhelp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-left: 20px;
        background-color: #c4c4c4;
        padding: 20px;
    }

    .recipepreviewsmall img {
        width: 225px;
        height: 175px;
        border-radius: 10px;

    }

    .recipepreviewbig img {
        width: 450px;
        height: 250px;
        border-radius: 10px;

    }

    .errorImage {
        width: 200px;
        height: 200px;
    }

    .helpImage {
        width: 200px;
        height: 200px;
    }

    .recipe-page img {
        width: 100%;
        max-width: 400px;
        height: auto;
        display: block;
        margin: 1.5rem auto;
        border-radius: 10px;
    }

    .recipe-page .step-image {
        max-width: 300px;
        margin: 1rem auto;
        border-radius: 8px;
    }

    .topnav {
        width: 100%;
        gap: 5px;
        padding: 5px 0;
        font-size: 14px;
        flex-wrap: wrap;
    }

    .topnav a {
        padding: 10px 8px;
        font-size: 14px;
    }


}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-style: italic;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    p {
        padding: 1.5em;
        text-align: center;
        max-width: 80vw;
    }

    video {
        width: 600px;
    }

}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    p {
        max-width: 1000px;
        font-size: 20px;
        margin: auto;
    }

    a {
        color: #000000;
        font-family: Arial, sans-serif;
        padding: 5px;
        border: 1px solid transparent;
        box-sizing: border-box;
    }

    h3 {
        font-size: 25px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    h4,
    h5,
    h6 {
        font-size: 18px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        font-style: italic;
        margin: 0.5em 0;
        padding: 0.5em;
        box-sizing: border-box;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    li {
        display: block;
    }

    .recipe-page img {
        width: 100%;
        max-width: 600px;
        height: auto;
        display: block;
        margin: 1.5rem auto;
        border-radius: 10px;
    }

    .recipe-page .step-image {
        max-width: 500px;
        margin: 1rem auto;
        border-radius: 8px;
    }

}